
@{
    ViewBag.Title = "Sample Uni";
}

<h2>Sample University</h2>

<p>Aplikacja zaliczeniowa</p>
<p>Zadaniem jest zrobienie ekranów wyświetlających dane, dodających nowy wpis, modyfikujący go i usuwający dla jednego z pozostałych dwóch typów danych: przedmiotu lub studentów</p>
<p>Jako przykład zostały stworzone odpowiednie widoki wraz z niezbędnymi modelami danych jak i kontrolerem. Do zaliczenia, trzeba odtworzyć te elementy dla wspomnianych wcześniej typów.</p>
<p>Należy udostępnić wejście do ekranu wyświetlającego dane z bazy danych przez odpowiedni link na czarnym pasku na górze strony</p>
<p>Czas do około godziny 12.30</p>
<p>Nie korzystajcie z żadnych materiałów dodatkowych. Wszystko co potrzebne jest w projekcie. Trzeba to tylko umiejętnie wykorzystać.</p>
<p><strong>Powodzenia</strong></p>
